@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// Set your brand colors
$darkBlue: #14364c;
$darkBlue10: rgba(20, 54, 76, 0.1);
$blackBlue: #0f2b3d;
$tealish: #24b99d;
$blueGreen: #178072;
$greyish: #aaaaaa;
$white: #ffffff;

// Update Bulma's global variables
$family-sans-serif: 'Muli', sans-serif;
$body-color: $darkBlue;
//$grey-dark: $lightBlack;
//$grey-light: $lightGray;
$primary: $tealish;
$info: $darkBlue;
$link: $tealish;

$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;

// Update some of Bulma's component variables
//$body-background-color: $lightGray;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;
//
//$section-padding: 32px 16px;
$navbar-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-img-max-height: 'auto';
$navbar-breakpoint: 769px;

//$tabs-border-bottom-color: $gray;

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/grid/all';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/form.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/elements/tag.sass';
@import '../../node_modules/bulma/sass/elements/content';
@import '../../node_modules/bulma/sass/components/tabs.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/layout/footer';

svg {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  font-weight: 300;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: inherit;
}

.content {
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
}

hr {
  background-color: $darkBlue10;
}
